


.pageination-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    background-color: lightgray; 
    /* opacity: 0.1; */
    width: 100rem;
    margin-top: 2px; 

    button {
        width: 50px; 
        height: 50px; 
        font-size: 2rem;
        font-weight: bold;
        /* background-color: lightblue; */
        background-color: #99bfcb; 
        border-radius: 4px;
        border: none;
        margin: 5px 5px;
        
        &:hover {
            background-color: #6c878f;
            color: white;
        }
    }


    .current-page {
        opacity: 0.7;
        /* color: white; */
    }

}


/* .pageination-container button { */
/*         background-color: #4CAF50; */
/* } */

/* .current-page { */
/*     /1* background-color: #0000; *1/ */
/*     /1* background-color: #4CAF50; *1/ */
/*     background-color: blue; */
/*     color: red; */
/* } */

