* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: sans-serif;
  background-color: rgb(36, 36, 36);
  
  
}

main {
width:70%;
  /* padding:2rem;
  background-color: red;; */
}

h1 {

  margin:0.2rem;
  font-size: 1.8rem;
  color:rgb(255, 226, 184);
}
/* viser resulat av søk - viser firma orgnr osv... */
.resultat {
 
  display: grid;
  grid-template-columns: 60% 20% 20%;
  /* gap: 0.1rem; */
  margin-top: 0.2rem;
  width: 100%;
}


/* søk nedtrekksmeny viser kommuner resulat søk - velg kommune */
#resultatSok {
  position: absolute;
  top: 40px;
  left: 147px; /* Adjust this value based on your layout */
  z-index: 99;
  font-size: 1.5rem;
  margin-top: 0.2rem;
  width: 30rem;
}

#resultatSok p {
  padding:1rem;
  background-color: black;
  color:white;
  border-bottom:1px solid rgb(205, 205, 205);
  }

#resultatSok p:hover {
background-color: orange;
color:white;
}


.velgAarstall {
  width:9rem;

}

/* Form wrapper */
.form {
  /* display:flex;
  gap:2rem; */
  padding: 2rem;
 
  background-color: orange;
  /* margin-bottom: 2rem; */
  width: 100%;
}
form {
  position: relative;
  z-index: 0; 
  width:100%;
  display: flex;
  justify-content: right;
  align-items: center;
  gap:1rem;
}

input {
 
 padding:1rem;
width: 30rem;
width:100%;
}

/* Viser antall treff i kommuner */
#resultCount{
  display:none;
/* background-color: lightblue; */
margin-top:0.5rem;
font-size:1.2rem;
border-radius:4px;
width:12rem;
color:white;
}



::selection {
  background-color:black;
  color: white;
  padding: 1rem;
}

.firmanavn, .stiftelsesar, .kommunenr, .orgnr {
  display:flex;
  
  padding: 1rem;

  /* border-bottom:1px solid grey; */
  text-transform: uppercase;
  font-size: small;
  background-color: lightgrey;
  font-weight: 600;
}

.item {
  padding: 1rem;
  border-bottom:1px solid lightgrey;


  /* border-bottom:1px solid grey; */
  text-transform: uppercase;
  font-size:small;
  background-color: lightblue;
}

select, option, button {
  padding: 1rem 2rem;
}

@media only screen and (max-width: 667px) {
main {
width:100%;
  /* padding:0.6rem;
  background-color: red; */
}

form {
  display:flex;
  flex-direction: column;
  width:100%;

  
}

.resultat {
  display:flex;
  flex-direction: column;
  width: 100%;
}


#resultatSok {
  position: absolute;
  top: 70px;
  left: 0px; /* Adjust this value based on your layout */
  z-index: 99;
  font-size: 1.5rem;
  margin-top: 0.2rem;
  width: 30rem;
}

#resultatSok p:hover {
  background-color: grey;
  color:white;
  }

.item:nth-child(3n + 1) {
    background-color:rgb(105, 105, 105);
    font-weight: bold;
    color:lightblue;
    /* Ny stil for første rad */;
  }
  

}
  
